<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Table Tennis Shop</h1>
    <h2>Here are the orders</h2>
    {% for order in orders %}
        <p><a href="/order/name/{{order.customer_object.name}}">{{order.customer_object.name}}</a> ordered <a href="/order/{{orders.index(order)+1}}">{{order.quantity}} {{order.description}}</a> at {{order.order_date}}</p>
    {% endfor %}
</body>
</html>